torch
torchvision
torchaudio
pytorch3d
numpy==1.23
numba
scipy
opencv-python
cffi
matplotlib
zarr
numcodecs
h5py
hydra-core
einops
tqdm
dill
scikit-video
scikit-image
gym
pymunk
wandb
threadpoolctl
shapely
cython
imageio
imageio-ffmpeg
termcolor
tensorboard
tensorboardx
psutil
click
boto3
accelerate
datasets
diffusers
av
cmake
imagecodecs
ray
pygame
pybullet-svl
# robosuite @ https://github.com/cheng-chi/robosuite/archive/277ab9588ad7a4f4b55cf75508b44aa67ec171f0.tar.gz
robomimic
pytorchvideo
imagecodecs
r3m @ https://github.com/facebookresearch/r3m/archive/b2334e726887fa0206962d7984c69c5fb09cceab.tar.gz
dm-control
inputs
cudart
transformations
cc-udp
